* {
    box-sizing:border-box;
    margin:0;
    padding:0;
}
html, body{
    height:100%;
}
a{
    text-decoration:none;
    color:white;
}
nav {
    height:11%;
    display:flex;
    justify-content:space-around;
    flex-direction:column;
    background:url("../img/floor.jpg")center;
    font-size:1.15rem;
}
ul {
    list-style-type:none;
}
nav li a{
    display:block;
    text-align:center;
    font-family:'Comfortaa';
    text-shadow:2px 2px black;
}
section{
    height:85%;
    text-align:center;
    background-color:green;
    display:flex;
    flex-direction:column;
    justify-content:space-around;
}
section div{
    display:flex;
    justify-content:center;
    align-items:center;
}
#div1{
    height:4%;
    background-color:rgb(210,180,140);
    font-family:'Comfortaa';
    font-weight:bold;
}
#div2, #div3, #div4{
    height:32%;
}
#div2, #div3{
    background-color:grey;
    color:white;
    font-size:1.5em;
}
#div3{
        background-color:black;
    }
    #div3 a{
        color:black;
        position:relative;
        animation:canttouchme 10s infinite alternate;
    }
#div4{background-color:grey;
    background-size:cover;
}
img{
    height:50%;
}
footer{
    height:4%;
    background:url("../img/floor.jpg")no-repeat center;
    display:flex;
    flex-direction:column;
    justify-content:center;
}
footer ul{
    list-style-type:none;
    background-color:rgba(0,0,0,0.5);
    display:flex;
    justify-content:space-around;
    text-align:center;
    text-shadow:1px 1px black;
    color:white;
    font-weight: bold;
    font-family:'Sedgwick Ave Display';
}
footer ul li a{
    color:lightgreen;
}
@keyframes canttouchme {
       0%{left:0px; top:0px;}
       25%{left:200px; top:0px;}
       40%{left:400px; top:-200px;}
       50%{left:200px; top:200px;}
       75%{left:0px; top:200px;}
       80%{left:-200px; top:-200px;}
       100%{left:0px; top:0px;}
    }
.plug{
    animation:colorchange 5s infinite alternate;
}
@keyframes colorchange {
    0%{color:white;}
    20%{color:lightgreen;}
    40%{color:lightblue;}
    60%{color:rgb(255, 166, 77);}
    80%{color:lightyellow;}
    100%{color:rgb(255, 77, 77);}
}


@media only screen and (min-width: 768px) {
    ul {
        display:flex;
        justify-content:space-around;
    }
    nav{
        font-size:1.5rem;
        height:10%;
    }
    nav ul a:hover{
        color:lightgreen;
    }
    section{
        height:85%;
    }
    footer{
        height:5%;
    }
}