* {
    box-sizing:border-box;
    margin:0;
    padding:0;
}
html, body{
    height:100%;
}
a{
    text-decoration:none;
    color:white;
}
nav {
    height:11%;
    display:flex;
    justify-content:space-around;
    flex-direction:column;
    background:url("../img/floor.jpg")center;
    font-size:1.15rem;
}
nav ul {
    list-style-type:none;
}
nav li a{
    display:block;
    text-align:center;
    font-family:'Comfortaa';
    text-shadow:2px 2px black;
}
section{
    height:85%;
    display:flex;
    flex-wrap:wrap;
    border:solid 1px black;
    font-size:1.5rem;
}
.box{
    width:50%;
    height:50%;
    color:white;
    font-family:'Comfortaa';
    text-shadow:2px 2px black;
    display:flex;
    flex-direction:column;
    text-align:center;
    justify-content:center;
}
#box1{
    background:url("../img/mul2.jpg")no-repeat center;
    background-size:cover;
}
#box2{
    background:url("../img/hig1.jpg")center;
    background-size:cover;
}
#box3{
    background:url("../img/mac1.jpg")top;
    background-size:cover;
}
#box4{
    background:url("../img/joy1.jpg")no-repeat center;
    background-size:cover;
}
footer{
    height:4%;
    background:url("../img/floor.jpg")no-repeat center;
    display:flex;
    flex-direction:column;
    justify-content:center;
}
footer ul{
    list-style-type:none;
    background-color:rgba(0,0,0,0.5);
    display:flex;
    justify-content:space-around;
    text-align:center;
    text-shadow:1px 1px black;
    color:white;
    font-weight: bold;
    font-family:'Sedgwick Ave Display';
}
footer ul li a{
    color:lightgreen;
}
.plug{
    animation:colorchange 5s infinite alternate;
}
@keyframes colorchange {
    0%{color:white;}
    20%{color:lightgreen;}
    40%{color:lightblue;}
    60%{color:rgb(255, 166, 77);}
    80%{color:lightyellow;}
    100%{color:rgb(255, 77, 77);}
}


@media only screen and (min-width: 768px) {
    ul {
        display:flex;
        justify-content:space-around;
    }
    nav{
        font-size:1.5rem;
        height:10%;
    }
    nav ul a:hover{
        color:lightgreen;
    }
    section{
        height:85%;
    }
    #box1:hover{
        background-image:url("../img/mul1.jpg");
    }
    #box2:hover{
        background-image:url("../img/hig2.jpg");
    }
    #box3:hover{
        background:url("../img/mac2.jpg")no-repeat center;
        background-size:cover;
    }
    #box4:hover{
        background-image:url("../img/joy2.jpg");
    }
    footer{
        height:5%;
    }
}